body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    background-image: url("../img/new2.jpg");
    color: rgb(240, 230, 239);
}  

.container{
        width: 100vw;
        height: 0vh;
}
    
main{
    background-color: white;
    height: 100%;
}

main i.material-icons{
    font-size: 3em;
}
        
.menu i.material-icons{    
    font-size: 3em;
}
        
.menu{
    width: 80vw;
    height: 100vh;
    position: absolute;
    background-image: url("../img/new2.jpg");
    display: none;
}
        
.show{
    display: block;
}
        
.fade{
    background-color: rgb(100,100,100)
} 

button{
    color:rgb(240, 230, 239);
    background:rgb(24, 28, 46);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    background-image: url("../img/new2.jpg");
    color: rgb(240, 230, 239);
}

nav{
    width: 100%;
    background-color:rgb(86, 64, 96);
}

ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover{
    background-color:rgb(147, 120, 188);
}

ul li a{
     color: rgb(240, 230, 239);
     text-decoration: none;
}

.toggle{
    width: 100%;
    padding: 10px 20px;
    background: rgb(86, 64, 96);
    text-align: right;
    box-sizing: border-box;
    font-size: 30px;
    display: none;
}


@media (max-width: 768px){
    .toggle{
        display: block;
    }
    ul{
        width: 100%;
        display: none;
    }
    ul li{
        display: block;
        text-align: center;
    } 
    .active{
        display: block;
    }
}