.body{
    margin: 0;
    padding 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    width: 100%
    background-color: rgb(104, 175, 255);
    padding: 0 50px;
    box-sizing: border-box;
}

nav h1{
    margin: 0;
    padding: 15px 20px;
    float: left;
}

nav h1 a{
    color: hotpink;
    text-decoration: none;
}

nav ul{
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 30px;
    transition: .5s;
}

nav ul li a{
    color: greenyellow;
    text-decoration: none;
}

nav ul li:hover{
    background-color: hotpink;
}

.responsive-bar{
    width: 100%;
    background-color: rgb(52, 87, 127);
    padding: 10px 30px;
    box-sizing: border-box;
    display: none;
}

.responsive-bar h3{
    margin: 0;
    padding: 3px 0;
    color: blueviolet;
    float: left;
}

.responsive-bar h3 a{
    color: wheat;
    text-decoration: none;
}

.responsive-bar h4{
    margin: 0;
    padding: 0;
    color: floralwhite;
    float: right;
    padding: 5px;
    background: hotpink;
    text-transform: uppercase;
    cursor: pointer;
}

.brand a {
    float: left;
    color: rgb(14, 16, 127);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.rep-bar{
    width: 100%;
    background: hotpink;
    padding: 10px 30px;
    box-sizing: border-box;
}

@media only screen and (max-device-width: 400px){
    nav{
        display: none;
        padding: 0;
    }
    .responsive-bar{
        display: block;
    }
    nav h1 {
        display: block;
        float: none;
    }
    nav ul{
        float: none;
    }
    nav ul li{
        display: block;
        text-align: center;
        background-color: hotpink;
        padding: 15px 20px;
        border-bottom: 1px solid rgba(red, green, blue, alpha);
    }
    h1.brand{
        display: none;
    }
}