body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    background-image: url("../img/new2.jpg");
    color: rgb(240, 230, 239);
}

.con{
    width: 100vw;
    height: 100vh;
}

nav h1{
    margin: 0;
    padding: 15px 20px;
    float: left;
    color: rgb(240, 230, 239);
    font-family: 'Comfortaa', cursive;
}

nav h1 a{
    color:rgb(86, 64, 96);
    text-decoration: none;
}

nav ul{
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 30px;
    transition: .5s;
}

nav ul li a{
    color: rgb(240, 230, 239);
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
}

nav ul li:hover{
    background-color:rgb(147, 120, 188);
}

.responsive-bar{
    width: 100%;
    background:rgb(86, 64, 96);
    padding: 10px 30px;
    box-sizing: border-box;
    display: none;
}

.responsive-bar h3{
    margin: 0;
    padding: 3px 0;
    color:rgb(86, 64, 96);
    float: left;
}

.responsive-bar h3 a{
    color: rgb(240, 230, 239);
    text-decoration: none;
    
}

.responsive-bar h4{
    margin: 0;
    padding: 0;
    float:right;
    padding: 5px;
    background:rgb(24, 28, 46);
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.brand a {
    float: left;
    color: rgb(86, 64, 96);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.rep-bar{
    width: 100%;
    background:rgb(86, 64, 96);
    padding: 10px 30px;
    box-sizing: border-box;
}

.box {
    font-family: 'Comfortaa', cursive;
    align-content: center;
    width: 300px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}

.container {
    width: 720px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-row-gap: 5px;
    grid-column: 5px;
}

.box button {
    align-content: center;
}

.box form {
    font-family: 'Comfortaa', cursive;
    align-content: center;
    width: 300px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}

button{
    color:rgb(240, 230, 239);
    background:rgb(24, 28, 46);
}

h2 {
    font-size: 31px;
    align-content: center;
}



@media only screen and (max-device-width: 450px){
    nav{
        display: none;
        padding: 0;
    }
    .responsive-bar{
        display: block;
    }
    nav h1 {
        display: block;
        float: none;
    }
    nav ul{
        float: none;
    }
    nav ul li{
        display: block;
        text-align: center;
        background-color: rgb(86, 64, 96);
        padding: 15px 20px;
        border-bottom: 1px solid rgba(red, green, blue, alpha);
    }
    h1.brand{
        display: none;
    }
}