
body { 
    background-color: hotpink; 
}

h1 {
   color: blueviolet;     
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
    background-color: #333;
    overflow: hidden;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: blueviolet;
    color: white;
}

p {
    color: blueviolet;
    font-family: fantasy;
    text-align: center;
}



@media only screen and (min-device-width: 400px) {
    
    body {
        background-color: white; 
    }
}